/* Style Login Page */

body.login {
	height:100%;
	background-image:url('bg-login.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body.login h1 {
	background:url('bg-form-top.png') center bottom no-repeat;
	background-size:100% auto;
	padding-bottom:7px;
}
body.login h1 a {
	background-image:url('login-logo.png');
	background-size:255px 81px;
	height:81px;
	width:auto;
	padding:0;
}
body.login #login_error, body.login .message {
	border:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
}
body.login form {
	margin-top:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
}
body.login #backtoblog, body.login #nav {
	background:#fff;
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:7px;
}
.login #backtoblog a:hover, .login #nav a:hover {
	color:#e27e5b;
}
body.login #backtoblog {
	padding-bottom:15px;
}
.wp-core-ui .button-primary {
	background:#e27e5b;
	border-color:#e27e5b;
	border-bottom-color:#d27555;
	box-shadow: 0 1px 0 #d27555;
	-moz-box-shadow: 0 1px 0 #d27555;
	-webkit-box-shadow: 0 1px 0 #d27555;
	-o-box-shadow: 0 1px 0 #d27555;
	text-shadow: 0 1px 0 #d27555;
}
.wp-core-ui .button-primary:hover {
	background:#d27555;
	border-color:#e27e5b;
}
body.login form .input {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

#login {
	padding-bottom:22px;
	background:url('login-box-shadow.png') center bottom no-repeat;
	background-size:320px 22px;
}
